.container {
    background-color: #F4F4F4;
    max-width: auto;
    max-height: auto;
    margin: 25px 25px 0 325px;
    box-shadow: 0 0 10px rgba(0, 0, 0.1, 0.2);
}

#search-elements {
    padding: 15px;
}

#search-title {
    background-color: #E55604;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#search-title h1 {
    color: white;
    font-family: sans-serif;
    font-weight: lighter;
    padding: 5px;
    margin-left: 15px;
}

#search-container {
    display: flex;
    height: 35px;
    margin-left: 650px;
}

/* Styles for search */
#search-container {
    display: flex;
    align-items: stretch;
}

#id_search {
    flex: 1;
    padding: 8px;
    font-size: 14px;
    border: 2px solid #7F7F7F;
    border-radius: 20px 0 0 20px;
    box-sizing: border-box;
}

#searchBtn {
    flex: 0; /* Make sure the button doesn't grow */
    padding: 10px 15px;
    font-size: 16px;
    background-color: #26577C;
    color: #fff;
    border: none;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100px;
    transition-duration: 0.3s;
}

#searchBtn:hover {
    background-color: #E55604;
}

/* Styles for update */
#update-container {
    display: flex;
    align-items: stretch;
}

#id_update {
    flex: 1;
    padding: 8px;
    font-size: 14px;
    border: 2px solid #7F7F7F;
    border-radius: 20px 0 0 20px;
    box-sizing: border-box;
}

#UpdateBtn {
    flex: 0; /* Make sure the button doesn't grow */
    padding: 10px 15px;
    font-size: 16px;
    background-color: #26577C;
    color: #fff;
    border: none;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100px;
    transition-duration: 0.3s;
}

#UpdateBtn:hover {
    background-color: #E55604;
}


.container-table {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #26577C;
    color: white;
}

td {
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
}

tr {
    padding: 5px;
}

nav {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .container{
        margin-left: 25px;
    }

    .search-container {
        margin-left: 300px;
    }

    #id_search {
        margin-left: -325px;
    }
}