.container {
    background-color: #F4F4F4;
    max-width: auto;
    max-height: auto;
    margin: 25px 25px 0 325px;
    box-shadow: 0 0 10px rgba(0, 0, 0.1, 0.2);
}

#search-elements {
    padding: 15px;
}

#search-title {
    background-color: #E55604;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#search-title h1 {
    color: white;
    font-family: sans-serif;
    font-weight: lighter;
    padding: 5px;
    margin-left: 15px;
}

#search-container {
    display: flex;
    height: 35px;
    margin-left: 0;
}

#search-container {
    display: flex;
    align-items: stretch;
}

#id_search {
    flex: 1;
    padding: 8px;
    font-size: 14px;
    border: 2px solid #7F7F7F;
    border-radius: 20px 0 0 20px;
    box-sizing: border-box;
    margin-left: 450px;
}

#search-container button {
    flex: 0; 
    padding: 10px 15px;
    font-size: 16px;
    background-color: #26577C;
    color: #fff;
    border: none;
    border-radius: 20px 0 0 20px;
    cursor: pointer;
    transition:0.3s ease;
    min-width: 170px;
    transition-duration: 0.3s;
    height: 35px;
    border-radius: 5px;
    margin-right: 150px;
}

#search-container button:hover {
    background-color: #E55604; 
}

#searchBtn {
    flex: 0; 
    padding: 10px 15px;
    font-size: 16px;
    background-color: #26577C;
    color: #fff;
    border: none;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    transition: 0.3s ease;
    width: 100px;
    transition-duration: 0.3s;
}

#searchBtn:hover {
    background-color: #E55604;
}

#update-container {
    display: flex;
    align-items: stretch;
}

#id_update {
    flex: 1;
    padding: 8px;
    font-size: 14px;
    border: 2px solid #7F7F7F;
    border-radius: 20px 0 0 20px;
    box-sizing: border-box;
}

#UpdateBtn {
    flex: 0; 
    padding: 10px 15px;
    font-size: 16px;
    background-color: #26577C;
    color: #fff;
    border: none;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100px;
    transition-duration: 0.3s;
}

#UpdateBtn:hover {
    background-color: #E55604;
}


.container-table {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #26577C;
    color: white;
}

td {
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
}

tr {
    padding: 5px;
}

nav {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#pagination {
    text-align: center;
    margin-top: 20px;
    margin-left: 300px;
}

#prevPage,
#nextPage {
    background-color: #26577C;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition-duration: 0.3s;
    width: 100px;
}

#prevPage:hover,
#nextPage:hover {
    background-color: #E55604; 
}

#currentPage {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-family: sans-serif;
}

.action-column {
display: flex;
justify-content: space-between;
}

.action-column button {
padding: 8px 12px;
cursor: pointer;
border: none;
border-radius: 4px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 14px;
background-color: transparent;
}

.action-column button.update-button {
    background-color: transparent;
    color: #26577C;
    border: none;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center; 
}
.action-column button.delete-button{
   color: rgb(250, 0, 0);
}
.action-column button.update-button i,
.action-column button.delete-button i {
    margin-right:3px; 
}

#updateModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: sans-serif;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h2 {
    margin-bottom: 20px;
}

.modal-content label {
    display: block;
    margin-bottom: 5px;
}

.modal-content input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: solid 1px;
    border-radius: 5px;
    font-size: 15px;   
}

.modal-content select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: solid 1px;
    border-radius: 5px;
    font-size: 15px;   
}

.modal-content button {
    background-color: #26577C;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 0.3s;
    margin-top: 20px;
    font-size: 17px;
    margin-left: 285px;
    width: 200px;
}

.modal-content button:hover {
    background-color: #E55604; 
}

.right-nav-bottom {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-family: sans-serif;
    width: 300px;
}

.right-nav-bottom a {
    text-decoration: none;
    color: #333; 
    display: flex;
    padding-left: 50px;
    height: 40px;
    align-items: center;
    transition-duration: 0.3s;
}

.right-nav-bottom a:hover{
    background-color: grey;
    color: white;
}

.right-nav-bottom i {
    margin-right: 8px;
    font-size: 18px; 
}

@media (max-width: 768px) {
    .container{
        margin-left: 25px;
    }

    .search-container {
        margin-left: 300px;
    }

    #id_search {
        margin-left: -325px;
    }
}
