.cards {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    margin: 20px;
}

.cards-child {
    display: flex;
    flex-direction: row;
    border-color: #6A6A6A 1px;
    width: 250px;
    max-height: 75px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.cards-child .content {
    flex: 1;
}

.cards-child-texts {
    width: 175px; 
}

.cards-child h2 {
    font-family: sans-serif;
    margin-bottom: 5px;
}

.cards-child p {
    font-family: sans-serif;
    font-size: small;
    margin: 0;
    white-space: nowrap; 
}

.cards-child img {
    height: 75px;
    
}
.right-nav-bottom {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-family: sans-serif;
    width: 300px;
}

.right-nav-bottom a {
    text-decoration: none;
    color: #333; 
    display: flex;
    padding-left: 50px;
    height: 40px;
    align-items: center;
    transition-duration: 0.3s;
}

.right-nav-bottom a:hover{
    background-color: grey;
    color: white;
}

.right-nav-bottom i {
    margin-right: 8px;
    font-size: 18px; 
}

@media screen and (max-width: 600px) {
    .cards-child {
        width: 100%; 
        margin-bottom: 20px; 
    }
}
