.cards {
    display: flex;
    flex-wrap: wrap; /* Allow flex items to wrap to the next line */
    justify-content: space-between; /* Distribute items evenly along the main axis */
    margin: 20px;
}

.cards-child {
    display: flex;
    flex-direction: row;
    border-color: #6A6A6A 1px;
    width: 250px;
    max-height: 75px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.cards-child .content {
    flex: 1;
}

.cards-child-texts {
    width: 175px; 
}

.cards-child h2 {
    font-family: sans-serif;
    margin-bottom: 5px;
}

.cards-child p {
    font-family: sans-serif;
    font-size: small;
    margin: 0;
    white-space: nowrap; /* Prevent text from wrapping to the next line */
}

.cards-child img {
    height: 75px;
    
}

/* Media Query for smaller screens */
@media screen and (max-width: 600px) {
    .cards-child {
        width: 100%; /* Make each card take up the full width */
        margin-bottom: 20px; /* Adjust margin for smaller screens */
    }
}
